@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
html {
  font-family: "Josefin Sans", sans-serif;
}

@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #27A2CC;
  --color-secondary:#FD6050; 

  --color-base-100: #f2f3f5; /* Soft gray (not white) */
  --color-base-200: #e6e7eb;
  --color-base-300: #d9dbdf;

  --color-accent: #4a4a4a; /* Muted dark gray */
  --color-neutral: #3c3c3c;
}

@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: #67CCD1; 
  --color-secondary: #FD8F01; 

  --color-base-100: #1a1b1f; /* Deep slate (not black) */
  --color-base-200: #232429; /* Slightly lighter layer */
  --color-base-300: #2e3036; /* Card background */

  --color-accent: #b2b2b2; /* Silver-gray text/accent */
  --color-neutral: #7f7f7f;
}

.nav-links {
  @apply flex items-center justify-center gap-0 font-medium hover:to-base-300;
}

nav a.active {
  @apply text-primary;
}

.dashboard-nav a {
  @apply py-3
}

.dashboard-nav a:hover {
  @apply bg-gray-100 text-black;
}

.dashboard-nav a.active {
  @apply bg-primary text-black;
}


.footer-link {
  @apply hover:translate-x-2 text-accent transition-all duration-100 cursor-pointer;
}
.title-footer{
  @apply text-xl mb-2 font-semibold text-primary
}

.margin-top {
  @apply mt-6 md:mt-8 lg:mt-12 xl:mt-16;
}
.margin-bottom {
  @apply mb-6 md:mb-8 lg:mb-12 xl:mb-16;
}
.margin-y {
  @apply my-6 md:my-8 lg:my-12 xl:my-16;
}
.padding-y {
  @apply py-6 md:py-8 lg:py-12 xl:py-16;
}


/* swal button */
.swal-confirm {
  color: #000 !important; 
  background-color: #27A2CC !important;
}

.swal-cancel {
  color: #fff !important;
  background-color: #ff0000 !important;
}

.swal-text {
  color: #03373D !important; /* description text color */
}
